<section class="container subcontent">
  <section class="container-registrer">

    <section class="logo">
      <span class="c-blueo hind bold">Be</span><span class="c-blue">Partners</span>
    </section>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">INICIAR SESIÓN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">REGISTRARME</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="home" role="tabpanel">
        <article class="txt-logIn">
          <span class="c-blueo">Bienvenido estamos listos</span>
          <span class="c-blue">para realizar tus consultas</span>
        </article>

        <section class="form-container">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Nit de la empresa o correo</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Contraseña</label>
              <input type="password" class="form-control" id="formGroupExampleInput2">
            </div>

            <div class="button-container">
              <button type="submit" class="btn-logIn hind" id="">Ingresar</button>
            </div>

          </form>

          <article class="links-help">
              <a class="hind bold" href="#" target="_blank">
                  ¿PERDÍ MI CONTRASEÑA?
              </a>
              <br/>
              <a class="hind bold" href="#" target="_blank">
                  QUIERO REGISTRARME
              </a>
          </article>

        </section>

      </div>
      <div class="tab-pane" id="profile" role="tabpanel">
        <article class="txt-logIn">
          <span class="c-blueo">Contáctate con más empresas</span>
          <span class="c-blue">que buscan hacer grandes negocios.</span>
        </article>

        <section class="form-container">
          <form>
            <div class="form-group">
              <label for="formGroupExampleInput">Correo del representante legal</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Nit o nombre de la empresa</label>
              <input type="text" class="form-control" id="formGroupExampleInput2">
            </div>

            <div class="custom-controls-stacked">
              <section class="r-botom" data-toggle="buttons">
                <label class="btn">
                  <input type="radio" name='acepto'>
                  <i class="fa fa-circle-thin f-26"></i>
                  <i class="fa fa-circle fa-1x"></i>
                  <span class="f-12 c-gray"> Acepto </span> <a href="#" class="f-12 c-blue"> términos y condiciones</a>
                </label>
              </section>
            </div>

            <div class="button-container">
              <button type="submit" class="btn-logIn hind" id="">REGISTRAR MI EMPRESA</button>
            </div>

          </form>

          <article class="links-help">
              <a class="hind bold" href="#" target="_blank">
                  ¿NECESITAS AYUDA?
              </a>
          </article>

        </section>
      </div>
    </div>

    <div class="container-by">
      <div class="row">
        <div class="col-md-1 pdrl-0">
          <span class="hind medium">
            By:
          </span>
        </div>

        <div class="col-md-5 pdrl-0">
          <a href="#" target="_blank">
            <img src="../assets/images/banlineaLogo.png" class="img-fluid pull-xs-left" alt="...">
          </a>
        </div>

        <div class="col-md-6 pdrl-0">
          <a href="#" target="_blank">
            <img src="../assets/images/dataCredito.png" class="img-fluid pull-xs-left" alt="...">
          </a>
        </div>
      </div>
    </div>

  </section>
</section>
