.form-home{
  width: 360px;
  max-width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 46px 26px;
  margin: 0;
  border: solid 1px #D1D2D3;

.form-content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.form-control {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
textarea.form-control {
  max-width: 100%;
}
.text-form{
  padding: 0% 4% 12% 4%;
  text-align: center;
}
.modal-terms{
   background: rgba(255,255,255,.9);
   .close-modals{
      position: relative;
      margin:0 auto;
      text-align: center;
      width: 100%;
   }
   .close{
     float: none;
   }
  .modal-header{
    display: block;
  }


}



}



